@import url(https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap);
@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Kalam&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik&display=swap);
//variables
$cardcolor:white;
$textColor:white;
$shadowColor:#757575;
$bowlby: 'Bowlby One SC';
$racing: 'Racing Sans One';
$kalam: 'Kalam';
$rubik: 'Rubik';

.gridContainer {
    background-color: $cardcolor;
}


.blogSection {
    background-color: white;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin: 0;
    padding: 0;

    @media only screen and (max-width: 768px) {
        padding: 10px;
        grid-template-columns: auto;
    }
}

.card {
    background-color: transparent;
    color: $textColor;
    margin: 0;
    padding: 1.5rem;

    .banner {
        width: 80%;
    }

    .bannerImage {
        object-fit: contain;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: $kalam;
    }

    .title {
        font-family: $kalam;
        text-transform: uppercase;
        text-align: center;
        padding: 10px;
        margin: 10px;
        font-size: 2em;
        color: $textColor;
        background-color: transparent;
        text-shadow: 2px 2px 2px $shadowColor;
    }

    .center {
        text-align: center;
    }

    .excerpt {
        font-size: 1.2em;
        font-style: italic;
        font-weight: bold;
        font-family: $rubik;
        text-indent: 5rem;
        padding: 2em;

    }
}

.bgcard {
    min-height: 300px;
    padding: 0;
    margin: 1rem;

}