$navcolor: #d32f2f;
@import "../styles/styles";

h2 {
  letter-spacing:2px;
  margin-top:-25px;
  margin-left:65px;
  color:white;
}

.sidebar {
  background-color: $navcolor;
  color: white;
  max-width: 200px;
  display:inline-flexbox;
  padding-left: 0px;
  border-radius: 4px;

  transition: transform 0.5s;

 

  li {
    font-family:$rubik;
    background-color: $navcolor;
    padding:10px 15px;
    list-style: none;
    &:hover{
      background-color: darken($navcolor,10%) ;
      border-top: 1px solid darken($navcolor,20%);
      border-bottom: 2px solid darken($navcolor,20%);
    }
  }

  &__trigger {
    display: none;
    &:checked {
      & + label > .sidebar__buttonOpen {
        display: none;
      }
    }
    &:not(:checked) {
      & + label > .sidebar__buttonClose {
        display: none;
      }

      & ~ .sidebar {
        transform: translateX(-100%);
      }
    }
  }
  
  &__button {
    color:white;
   
    width: 300px;
    border: 1px solid #ddf;
    padding: 1rem;
    border-radius: 0.25rem;
  }
}

.logo{
  font-family: $racing;
}

.clearfix {
  clear:both;
}

imageDisplay {
  position: absolute;
  top:0;
  left:0;
  z-index: -1000;
}
header {
  position: relative;
}