// import fonts
@import url(https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap);
@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Kalam&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik&display=swap);


// variables
$bowlby: 'Bowlby One SC';
$racing: 'Racing Sans One';
$kalam: 'Kalam';
$rubik: 'Rubik';

$textcolor:white;

h1, h2, h3, h4, h5 {
    font-family:$bowlby;
    color:$textcolor;
}

p {
    font-family:$rubik;
    color:$textcolor;
}

*{
    background-color: black;
}

.card {
    box-shadow: 2px 2px 4px 8px rgba(255, 255, 255, 0.4);
    margin:1rem;
    padding:0.5rem;
    .banner {
        width:90%;
    }
}
